html {
	position: relative;
	min-height: 100%;
}

body {
	position: absolute !important;
	width: 100%;
	min-height: 100%;
	/* background-color: #a84; */
}

h1 span:last-child {
	text-shadow: 2px 2px 3px #000;
	cursor: default;
}

h1 span:first-child {
	-webkit-box-shadow: 2px 2px 3px #000;
	-moz-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
}

#game-box {
	height: 250px;
	border-top: 2px dashed #f00;
}

#status-box {
	height: 250px;
}

#timer {
	height: 40px;
	border: 2px solid #aaa;
	overflow: hidden;
	position: relative;
	left: 0px;
	top: 0px;
	background-color: #333;
}

#timer-bar {
	height: 40px;
	width: 0;
	background: linear-gradient(to bottom , #24d 10% , #aaf 25%  , #0af 35% , #ccf 60% , #47f 80%);
}

.ss-button {
	border: 2px solid #3c3;
	background: linear-gradient(to bottom , #6a6 45% , #373 55%);
}

.ss-current-char {
    font-weight: 900;
    color: #fc0;
}

.ss-mistake-char {
    font-weight: normal;
    color: #f50;
}

.ss-typed-char {
    font-weight: normal;
    color: #ddd;
}

.ss-not-typed-char {
    font-weight: normal;
    color: #ddd;
}

#text-block {
    position: relative;
}

#game-over , #you-win {
    display: none;
}